/**************************************************
*
*    web color
*
*    white:       : #fff
*    brown(medium): #774021
*    brown(light) : #dfcbb5
*    brown(dark)  : #653423
*
**************************************************/

/*
GENERAL
*/
body {
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
}

p {
    color: #dfcbb5;
}

/*-----------------------------------------------
*    header
-----------------------------------------------*/

.logo {
    display: block;
    background: url(../img/logo-2.png) left bottom no-repeat;
    width: 210px;
    background-size: 55%;
}

.navbar {
    background-color: transparent;
    height: 10vh;
}

.navbar-brand {
    height: 7vh;
}

.navbar-nav > li > a {
    padding-bottom: 24px;
}

.font-white {
    position: relative;
    text-align: center;
    color: #dfcbb5 !important;
    padding-top: 5vh !important;
    width: 100px; /*控制寬度，避免文字寬度不同而造成版面搖晃*/
}

.font-white {
    position: relative;
}

.font-white div {
    position: absolute;
    text-align: center;
}

.zh {
    display: block;
    /*opacity: 1;*/
    font-size: 14px;
}

.en {
    display: none;
    /*opacity: 0;*/
    text-transform: uppercase;
    font-size: 13px;
}

/*.font-white:hover .zh {
    display: none;
}

.font-white:hover .en {
    display: block;
    color: #fff;
}*/

.active {
    background-color: rgba(119, 64,33, 0.5);
}

/*-----------------------------------------------
*    main
-----------------------------------------------*/
#main {
    height: 95vh;
    position: relative;
}

#main article {
    position: absolute;
    top: calc(95vh / 2 - 40px);
}

#main p {
    color: #fff;
    padding-bottom: 20px;
}

/*-----------------------------------------------
*    footer
-----------------------------------------------*/

#footer p {
    text-align: center;｀
}

/*-----------------------------------------------
*    screen in 1600px
-----------------------------------------------*/

/*-----------------------------------------------
*    screen under 1440px
-----------------------------------------------*/

@media screen and (max-width: 1440px) {
    .navbar-brand {
        height: 8vh;
    }
}

/*-----------------------------------------------
*    screen in 1024px
-----------------------------------------------*/

/*-----------------------------------------------
*    screen between 768px and 1023px
-----------------------------------------------*/

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .logo {
        width: 150px;
        background-size: 60%;
    }

    .navbar-brand {
        height: 7vh;
    }
}

/*-----------------------------------------------
*    screen under 480px
-----------------------------------------------*/
